<div class="row align-items-center py-5">
  <div class="col-lg-4 text-center order-lg-1">
    <img src="assets/img/2.jpg" class="rounded-circle img-fluid" style="max-width: 200px;" alt="Keyboard">
  </div>
  <div class="col-lg-8 order-lg-2">
    <h2><strong>The Second Heading</strong> Is Pretty Cool Too.</h2>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</div>
<hr>